name: Build macOS (x86 and ARM64)

on:
  push:
    branches: [ "master", "dev" ]

jobs:
  build:
    name: Build for ${{ matrix.arch }}
    strategy:
      matrix:
        include:
          - arch: x86_64
            runsOn: macos-latest-large

          - arch: arm64
            runsOn: macos-latest

    runs-on: ${{ matrix.runsOn }}
    
    env:
      SWIFT_PATH: /Library/Developer/Toolchains/swift-6.0.3-RELEASE.xctoolchain/usr/bin

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install Swift
        run: |
          curl -O https://download.swift.org/swift-6.0.3-release/xcode/swift-6.0.3-RELEASE/swift-6.0.3-RELEASE-osx.pkg
          sudo installer -pkg swift-6.0.3-RELEASE-osx.pkg -target /
          $SWIFT_PATH/swift --version

      - name: Install dependencies
        run: brew install notcurses

      - name: Build
        run: $SWIFT_PATH/swift build

